.fall{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: overlay-fall 1s;
}

@keyframes overlay-fall {
  0% {
    transform: translate(0, -100vh);
  }
  100%{
    transform: translate(0, 0);
  }
}